@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Merriweather:wght@300;400;700;900&family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Fascinate', cursive;
font-family: 'Merriweather', serif; */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}
a
{
  text-decoration: none;
}
li
{
  list-style: none;
}
img
{
  width: 100%;
}
/* Styling header section */
.header
{
  width: 100%;
  min-height: 100vh;
  background: #fefefe;
  padding: 2% 10%;
}
nav
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-content: center;
}
.nav-links
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-links ul
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav-links ul li
{
  margin-left: 56px;
  padding: 0 0 4px 0;
  position: relative;
}
.nav-links ul li::after
{
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  margin: auto;
  background: #009cff;
  left: 0;
  bottom: 0;
}
.nav-links ul li a
{
  color: #030810;
  font-size: 14px;
  font-weight: 700;
}
.nav-links ul li:hover::after
{
  width: 100%;
  transition: 0.5s;
}
nav > a
{
  color: #009cff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
/* Styling Hero Section */
.hero-section
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 124px;
  align-items: center;
  justify-content: center;
  padding: 44px 0 0 0;
}
.hero-text h1
{
  font-size: 40px;
  color: #030810;
  line-height: 1.4;
}
.hero-text p
{
  font-size: 16px;
  line-height: 1.6;
  margin: 24px 0 56px;
  color: #0f2241;
}
.btn
{
  padding: 12px 32px;
  background: #009cff;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;
}
.btn:hover
{
  background: #030810;
  color: #fff;
  transition: 0.8s;
}
/* Styling work section */
.work
{
  width: 100%;
  /* min-height: 100vh; */
  background: #fffdfc;
  padding: 4% 10%;
}
.row
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 124px;
  padding: 6% 0;
  align-items: center;
  justify-content: center;
}
.title h3
{
  color:#030810;
  font-weight: 700;
}
.title p
{
  margin: 4% 0;
  line-height: 1.68;
  color: #0f2241;
  letter-spacing: 0.5;
}
.title span
{
  color: #F78324;
  font-style: italic;
}
.title .smart
{
  color: #F2655C;
}
.task > ul
{
  margin: 4% 0 12%;
}
.task > ul li
{
  margin: 2% 0;
  font-size: 14px;
  font-weight: 700;
  color: #0f2241;
}
.task > ul li::before
{
  content: '\2022';
  color: #0f2241;
  margin-right: 8px;
}
/* Styling footer */

.contact_container
{
  width: 80%;
  margin: 0 auto;
}
.contact_container h2
{
  margin-bottom: 24px;
  letter-spacing: 0;
  padding: 4% 0 0 0;
}
.contact_container > p
{
  margin: 8px 0 32px;
  line-height: 1.8;
  color: #0f2241;
  font-size: 16px;
  font-weight: 500;
}
.contact_container > p > a
{
  color: #ff5722;
}
.contact_container > .btn
{
  font-weight: 600;
  background: transparent;
  border: 1px solid #163361;
  color: #163361;
}
.contact_container > .btn:hover
{
  background: #030810;
  color: #fff;
  transition: 0.5s;
}
.contact_container > ul
{
  margin: 40px 0;
}
.contact_container > ul li
{
  display: inline-block;
  margin: 0 8px;
}
.contact_container > ul li a
{
  list-style: none;
  color: #ffffff;
}
.fa
{
  width: 32px;
  height: 32px;
  background-color: #163361;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.contact_container > .copyright
{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  display: block;
  text-align: center;
  letter-spacing: 0;
  font-weight: 600;
  border-top: 0.1px solid #e9eef5;
  padding: 12px 0;
}
/* Styling About page */

.col-1 > ul li
{
  margin: 3% 0;
  font-size: 14px;
  font-weight: 700;
  color: #0f2241;
}
.col-1 > ul li::before
{
  content: '\2022';
  color: #0f2241;
  margin-right: 8px;
}
.col-2 > ul li
{
  margin: 2% 0;
  font-size: 14px;
  font-weight: 700;
  color: #0f2241;
}
.col-2 > ul li::before
{
  content: '\2022';
  color: #0f2241;
  margin-right: 8px;
}


@media(max-width:640px)
{
  nav
  {
    text-align: center;
  }
  .hero-text h1
  {
    font-size: 32px;
    line-height: 1.4;
  }
  .nav-links
  {
    margin-top: 16px;
    justify-content: center;
  }
  .nav-links > ul li
  {
    margin: 0 24px 0;
  }
  .hero-section
  {
    grid-gap: 64px;
  }
  .hero-text
  {
    text-align: center;
  }
  .work
  {
    padding: 10%;
    text-align: center;
  }
  .work h1
  {
    margin-bottom: 8px;
  }
  .row
  {
    grid-gap: 64px;
  }
  .contact_container
  {
    text-align: center;
  }
}
